.card11{
    box-shadow: 0 0 10px black;
    
    width: 330px;
    padding:7px;
    text-align: center;
    color: white;
    background-color: black;
    margin:20px auto;
    border-radius: 5px;

}
.card11 img:hover{
    transform: scale(0.9);
    transition:2s;
}
.card11 button{
    border: none;
    box-shadow: 0 0 10px white;
    padding:5px 10px;
    margin: 20px;
    background-color: orange;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}