.ruler{
    background-image:url("https://static.vecteezy.com/system/resources/thumbnails/007/164/537/small_2x/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg");
    background-size: cover;
    display: flex;
    justify-content:flex-end;
    padding:40px;
    margin-right: 200px;
    width: 100%;
     

}


.bg{
    text-align: center;
    background:linear-gradient(skyblue,rgb(118, 96, 96));
    height: 450px;
    width:350px;
    padding:30px;
    border-radius:20px;
    font-family:cursive;
    
   
}
.bg1{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding:3px
}
.remembercont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
